@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #142637;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tabs::before {
  transition: all .5s ease;
}

.tabs:hover::before {
  transform: translateX(90%);
}

.toggle{
  transition: all .5s ease;
  padding: 50px;
}

.active {
  background-color: #FFE071;
}